---
layout: default
title: Home
---

  <div class="about">
    <img class="avatar" src="/assets/headshot.jpg" alt="Braun Brennecke">
    <div class="bio">
      <p class="name">Braun Brennecke</p>
    </div>
  </div>

  <h2>Publications</h2>
  <ul class="entry-list">
    {% for pub in site.data.publications %}
    <li>
      <span class="entry-date">{{ pub.year }}</span>
      <div class="entry-body">
        <a href="{{ pub.url }}">{{ pub.title }}</a>
      </div>
    </li>
    {% endfor %}
  </ul>

  <h2>Speaking</h2>
  <ul class="entry-list">
    {% for talk in site.data.talks %}
    <li>
      <span class="entry-date">{{ talk.date }}</span>
      <div class="entry-body">
        <span>{{ talk.title }}</span>
        <span class="entry-meta">{{ talk.location }}</span>
      </div>
    </li>
    {% endfor %}
  </ul>
